<p style="color: white;">play works!</p>
<button type="button" class="btn btn-light" (click)="gameService.buildGame();">Start New Game</button>
<br>
<br>
<section class="container" *ngIf="gameService.getNobles() && gameService.getNobles().length > 0">
    <div class="row justify-content-around" style="height: 15vh;">
        <ng-container *ngFor="let noble of gameService.getNobles()">
            <div class="col-sm-2">
                <div class="card bg-dark">
                    <img class="card-img" style="object-fit: cover; height: 15vh;" src="../../../assets/noble.jpg"
                        alt="noble">
                    <div class="card-img-overlay">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <div class="row justify-content-around bg-light">
                                <h4 class="card-text">{{noble.points}}</h4>
                                <h4></h4>
                            </div>
                            <div class="row justify-content-around bg-light">
                                <p class="card-text text-center" *ngFor="let nobleCost of noble.cost">
                                    {{nobleCost.value}}
                                    - {{nobleCost.type[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>
<br>
<section class="container" *ngIf="gameService.getT3Cards() && gameService.getT3Cards().length > 0">
    <div class="row justify-content-around" style="height: 15vh;">
        <ng-container *ngFor="let t3Card of gameService.getT3Cards(); let i = index">
            <div class="col-sm-2" *ngIf="i < 4">
                <div class="card bg-success">
                    <img class="card-img" style="object-fit: cover; height: 15vh;" src="../../../assets/t3gems.png"
                        alt="t3">
                    <div class="card-img-overlay">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <div class="row justify-content-around bg-light">
                                <h4>{{t3Card.points}}</h4>
                                <h4>{{t3Card.value.value}} - {{t3Card.value.type[0]}}</h4>
                            </div>
                            <div class="row justify-content-around bg-light">
                                <p class="card-text text-center" *ngFor="let cardCost of t3Card.cost">{{cardCost.value}}
                                    - {{cardCost.type[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>
<br>
<section class="container" *ngIf="gameService.getT2Cards() && gameService.getT2Cards().length > 0">
    <div class="row justify-content-around" style="height: 15vh;">
        <ng-container *ngFor="let t2Card of gameService.getT2Cards(); let i = index">
            <div class="col-sm-2" *ngIf="i < 4">
                <div class="card bg-warning">
                    <img class="card-img" style="object-fit: cover; height: 15vh; background-color: white;"
                        src="../../../assets/t2gems.svg" alt="t2">
                    <div class="card-img-overlay">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <div class="row justify-content-around bg-light">
                                <h4>{{t2Card.points}}</h4>
                                <h4>{{t2Card.value.value}} - {{t2Card.value.type[0]}}</h4>
                            </div>
                            <div class="row justify-content-around bg-light">
                                <p class="card-text text-center" *ngFor="let cardCost of t2Card.cost">{{cardCost.value}}
                                    - {{cardCost.type[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>
<br>
<section class="container" *ngIf="gameService.getT1Cards() && gameService.getT1Cards().length > 0">
    <div class="row justify-content-around" style="height: 15vh;">
        <ng-container *ngFor="let t1Card of gameService.getT1Cards(); let i = index">
            <div class="col-sm-2" *ngIf="i < 4">
                <div class="card bg-primary">
                    <img class="card-img" style="object-fit: cover; height: 15vh;" src="../../../assets/t1gem.png"
                        alt="t1">
                    <div class="card-img-overlay">
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <div class="row justify-content-around bg-light">
                                <h4>{{t1Card.points}}</h4>
                                <h4>{{t1Card.value.value}} - {{t1Card.value.type[0]}}</h4>
                            </div>
                            <div class="row justify-content-around bg-light">
                                <p class="card-text text-center" *ngFor="let cardCost of t1Card.cost">{{cardCost.value}}
                                    - {{cardCost.type[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>