<div class="col">
    <div class="row justify-content-start" *ngIf="!gameService.getGameInProgress()">
        <button type="button" class="btn btn-light" (click)="gameService.buildGame(); startNewTurn();">Start New
            Game</button>
    </div>

    <div *ngIf="gameService.getGameInProgress()">

        <div class="row align-items-center">
            <div class="col">
                <div class="row justify-content-start">
                    <button type="button" class="btn btn-light" (click)="gameService.buildGame(); startNewTurn();">Start
                        New
                        Game</button>
                </div>
            </div>
            <!-- Player 2 -->
            <div class="col bg-light" *ngIf="gameService.getNumberOfPlayers() >= 2" style="height: 9vh;">
                <div class="row justify-content-around">{{gameService.getPlayers()[1].name}}</div>
            </div>
            <div class="col"></div>
        </div>

        <br>

        <div class="row">
            <!-- Player 3 -->
            <div class="col-1 bg-light" *ngIf="gameService.getNumberOfPlayers() >= 3">
                <div class="row justify-content-around">{{gameService.getPlayers()[2].name}}</div>
            </div>

            <div class="col-1"></div>

            <div class="col">
                <!-- Nobles -->
                <section class="container" *ngIf="gameService.getNobles() && gameService.getNobles().length > 0">
                    <div class="row justify-content-around" style="height: 15vh;">
                        <ng-container *ngFor="let noble of gameService.getNobles()">
                            <div class="col-sm-2">
                                <div class="card bg-dark">
                                    <img class="card-img" style="object-fit: cover; height: 15vh;"
                                        src="../../../assets/noble.jpg" alt="noble">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between">
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text">{{noble.points}}</h4>
                                                <h4></h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(nobleCost.type[0])"
                                                    *ngFor="let nobleCost of noble.cost">
                                                    {{nobleCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </section>
                <br>
                <!-- Tier 3 Cards -->
                <section class="container" *ngIf="gameService.getT3Deck() && gameService.getT3Showing()">
                    <div class="row justify-content-around" style="height: 15vh;">
                        <div class="col-sm-2">
                            <div class="card bg-success">
                                <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .5;"
                                    src="../../../assets/t3gems.png" alt="t3">
                                <div class="card-img-overlay">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="row justify-content-around bg-light">
                                            <h4>{{gameService.getT3Deck().length}}</h4>
                                        </div>
                                        <div class="row justify-content-around bg-light">
                                            <h4 class="card-text text-center">Tier 3</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let card of gameService.getT3Showing(); let i = index">
                            <div class="col-sm-2" *ngIf="i < 4" (click)="buyCard(card, i)">
                                <div class="card pointer bg-success">
                                    <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .85;"
                                        src="../../../assets/t3gems.png" alt="t3">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between" *ngIf="card">
                                            <div class="row justify-content-around bg-light">
                                                <h4>{{card.points}}</h4>
                                                <h4>-</h4>
                                                <h4 [ngStyle]="getCostColor(card.value.type[0])">
                                                    {{card.value.value}}
                                                </h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(cardCost.type[0])"
                                                    *ngFor="let cardCost of card.cost">{{cardCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </section>
                <br>
                <!-- Tier 2 Cards -->
                <section class="container" *ngIf="gameService.getT2Deck() && gameService.getT2Showing()">
                    <div class="row justify-content-around" style="height: 15vh;">
                        <div class="col-sm-2">
                            <div class="card bg-warning">
                                <img class="card-img"
                                    style="object-fit: cover; height: 15vh; opacity: .5; background-color: white;"
                                    src="../../../assets/t2gems.svg" alt="t2">
                                <div class="card-img-overlay">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="row justify-content-around bg-light">
                                            <h4>{{gameService.getT2Deck().length}}</h4>
                                        </div>
                                        <div class="row justify-content-around bg-light">
                                            <h4 class="card-text text-center">Tier 2</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let card of gameService.getT2Showing(); let i = index">
                            <div class="col-sm-2" *ngIf="i < 4" (click)="buyCard(card, i)">
                                <div class="card pointer bg-warning">
                                    <img class="card-img"
                                        style="object-fit: cover; height: 15vh; opacity: .85; background-color: white;"
                                        src="../../../assets/t2gems.svg" alt="t2">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between" *ngIf="card">
                                            <div class="row justify-content-around bg-light">
                                                <h4>{{card.points}}</h4>
                                                <h4>-</h4>
                                                <h4 [ngStyle]="getCostColor(card.value.type[0])">
                                                    {{card.value.value}}
                                                </h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(cardCost.type[0])"
                                                    *ngFor="let cardCost of card.cost">{{cardCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </section>
                <br>
                <!-- Tier 1 Cards -->
                <section class="container" *ngIf="gameService.getT1Deck() && gameService.getT1Showing()">
                    <div class="row justify-content-around" style="height: 15vh;">
                        <div class="col-sm-2">
                            <div class="card bg-primary">
                                <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .5;"
                                    src="../../../assets/t1gem.png" alt="t1">
                                <div class="card-img-overlay">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="row justify-content-around bg-light">
                                            <h4>{{gameService.getT1Deck().length}}</h4>
                                        </div>
                                        <div class="row justify-content-around bg-light">
                                            <h4 class="card-text text-center">Tier 1</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let card of gameService.getT1Showing(); let i = index">
                            <div class="col-sm-2" *ngIf="i < 4" (click)="buyCard(card, i)">
                                <div class="card pointer bg-primary">
                                    <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .85;"
                                        src="../../../assets/t1gem.png" alt="t1">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between" *ngIf="card">
                                            <div class="row justify-content-around bg-light">
                                                <h4>{{card.points}}</h4>
                                                <h4>-</h4>
                                                <h4 [ngStyle]="getCostColor(card.value.type[0])">
                                                    {{card.value.value}}
                                                </h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(cardCost.type[0])"
                                                    *ngFor="let cardCost of card.cost">{{cardCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </section>
            </div>

            <div class="col-1"></div>
            <!-- Gem Bank -->
            <div class="col-1 d-flex flex-column justify-content-around border border-light">

                <div *ngFor="let gem of gemTypes">

                    <div class="card" [ngClass]=getGemColor(gem[0]) [class.pointer]="gem[0] !== 'G'"
                        (click)="gatherGem(getGemTypeFromString(gem))">
                        <img class="card-img" style="object-fit: cover; height: 9vh; opacity: .5;"
                            src="../../../assets/t1gem.png" alt="{{gem}}">
                        <div class="card-img-overlay">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="row justify-content-around bg-light">
                                    <h4 [ngStyle]="getCostColor(gem[0])">{{gem.substring(0, 3)}}</h4>
                                    <h4>{{gameService.getBankTokens().get(getGemTypeFromString(gem))}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-1"></div>
            <!-- Player 4 -->
            <div class="col-1 bg-light" *ngIf="gameService.getNumberOfPlayers() >= 4">
                <div class="row justify-content-around">{{gameService.getPlayers()[3].name}}</div>
            </div>
        </div>

        <br>

        <div class="row align-items-center">
            <div class="col">
                <!-- Turn Action -->
                <div class="row justify-content-center">

                    <ng-template #popTitle>
                        <div class="text-center">{{turnAction}}</div>
                    </ng-template>

                    <ng-template #popContent>
                        <!-- Gathering Gems -->
                        <div *ngIf="gatheredGems && gatheredGems.length > 0">
                            <div *ngFor="let gem of gatheredGems">

                                <div class="card pointer" [ngClass]=getGemColor(gem[0]) (click)="returnGem(gem)">
                                    <img class="card-img" style="object-fit: cover; height: 9vh; opacity: .5;"
                                        src="../../../assets/t1gem.png" alt="{{gem}}">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column justify-content-center">
                                            <div class="row justify-content-around bg-light">
                                                <h4 [ngStyle]="getCostColor(gem[0])">{{gem.substring(0, 3)}}</h4>
                                                <h4>1</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Buying a card -->
                        <div *ngIf="buyingCard">

                            <div class="col-sm-2" (click)="returnBuyingCard();">
                                <div class="card pointer bg-primary">
                                    <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .85;"
                                        src="../../../assets/t1gem.png" alt="t1">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between" *ngIf="buyingCard">
                                            <div class="row justify-content-around bg-light">
                                                <h4>{{buyingCard.points}}</h4>
                                                <h4>-</h4>
                                                <h4 [ngStyle]="getCostColor(buyingCard.value.type[0])">
                                                    {{buyingCard.value.value}}
                                                </h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(cardCost.type[0])"
                                                    *ngFor="let cardCost of buyingCard.cost">{{cardCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-sm-2" (click)="returnBuyingCard();">
                                <div class="card pointer" [ngClass]=getTierCardColor({{buyingCard}});>
                                    <img class="card-img" style="object-fit: cover; height: 15vh; opacity: .85;"
                                        src="../../../assets/t1gem.png" alt="t1">
                                    <div class="card-img-overlay">
                                        <div class="d-flex flex-column h-100 justify-content-between" *ngIf="card">
                                            <div class="row justify-content-around bg-light">
                                                <h4>{{card.points}}</h4>
                                                <h4>-</h4>
                                                <h4 [ngStyle]="getCostColor(card.value.type[0])">
                                                    {{card.value.value}}
                                                </h4>
                                            </div>
                                            <div class="row justify-content-around bg-light">
                                                <h4 class="card-text text-center"
                                                    [ngStyle]="getCostColor(cardCost.type[0])"
                                                    *ngFor="let cardCost of card.cost">{{cardCost.value}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>

                    </ng-template>

                    <button type="button" class="btn btn-light" id="turnActionButton" placement="top"
                        [ngbPopover]="popContent" [popoverTitle]="popTitle">
                        Turn Action
                    </button>

                </div>
            </div>
            <div class="col-1"></div>
            <!-- Player 1 -->
            <div class="col-4 bg-light" style="height: 9vh;">
                <div class="row justify-content-around">{{gameService.getPlayers()[0].name}} (You)</div>

                <div class="row justify-content-around">
                    <div *ngFor="let gem of gemTypes">
                        <h6 [ngStyle]="getCostColor(gem[0])">{{gem.substring(0, 3)}}</h6>
                        <h6 [ngStyle]="getCostColor(gem[0])">
                            {{gameService.getPlayers()[0].gems.get(getGemTypeFromString(gem))}}</h6>
                    </div>
                </div>

            </div>
            <div class="col-1"></div>
            <!-- End Turn -->
            <div class="col">
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-light" (click)="endTurn();">
                        End Turn
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="gempyreModalButton" class="btn" data-toggle="modal" data-target="#gempyreModal"
    style="display: none;"></button>

<!-- Modal -->
<div class="modal fade" [ngStyle]="getModalBackdropColor()" id="gempyreModal" tabindex="-1"
    aria-labelledby="gempyreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gempyreModalLabel">{{alertType}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{alert}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showTurnAction();">View
                    Turn Action</button>
            </div>
        </div>
    </div>
</div>